<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zakupy dla seniora</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css"/>
        <link rel='icon' href='{{ url_for('static', filename='delight.ico') }}' type='image/x-icon'/ >

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

<style>
        #mapid {
            height: 100%;
        }
        #mapcard{
            height: 85vh;

        }
                footer {
            /*position: absolute;*/
            bottom: 0; !important;
            width: 100%;
            padding-top: 15px;
        }
        .footer-card{
            padding: 0px;

        }
    </style>
</head>
<body>
    <nav class="uk-card-default uk-margin-small uk-card-hover" uk-navbar>
        <div class="uk-navbar-left">
            <a href="/" class="uk-navbar-item uk-logo">
                <img src="{{ url_for('static', filename='delight.svg') }}" style=" height:50px; ">
             <p class="uk-margin-left">Zakupy dla seniora</p>
            </a>

            <div class="navbar-collapse" id="navbar_collapse">
                <ul class="uk-navbar-nav">
                    <li class="uk-parent"><a href="/board_view">Ogłoszenia</a></li>
                    <li class="uk-active"><a href="/leaderboard">Najlepsi wolontariusze</a></li>
                    <li class="uk-parent"><a href="/profile_view">Profil</a></li>

                </ul>

            </div>

        </div>
        <div class="uk-navbar-right">

            <div class="uk-navbar-item">
                <ul class="uk-navbar-nav">


                    <li>
                        <button class="uk-button" href="#">Wyloguj</button>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <h1 class="uk-text-center">Najlepsi wolontariusze</h1>
    <div class="uk-container uk-margin-top" id ="board" style="height: 90vh;overflow: scroll;">
        {% for d in data['users'] %}
            <div class="uk-margin uk-card uk-card-default uk-card-body uk-margin-auto">
                <h3 class="uk-card-title">{{ loop.index }}. {{ d['display_name'] }} <span class="uk-badge uk-text-large uk-margin-small-left uk-padding-small">{{  d["points"]}}</span></h3>




            </div>
        {% endfor %}
    </div>


</body>
</html>